.trending-topics {
    padding: 20px;
}

.trending-topics h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.trending-topics ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.trending-topics li {
    display: block;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #e1e8ed21;
}

.trending-topics li:last-child {
    border-bottom: none;
}

.trend-rank {
    margin-right: 10px;
    font-size: 14px;
}

.trend-name {
    flex-grow: 1;
    font-weight: bold;
    font-size: 18px;
}

/* .trend-posts {

} */